header{
	width: 100%;
	height: .88rem;
	background-color: #c93a3a;
	padding: 0 .24rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	position: fixed;
	z-index: 999;
}
.head-title{
	font-size: 0.4rem;
	color: #fff;
	line-height: .88rem;
	float: left;
}
.search{
	width: 5.01rem;
	height: .57rem;
	float: right;
	margin-top: .155rem;
	position: relative;
}
.search input{
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: .1rem;
	background-color: #fff;
	padding-left: .68rem;
}
.search-btn{
	width: .24rem;
	height: .24rem;
	background-color: blue;
	position: absolute;
	left: .21rem;
	top: 0;
	bottom: 0;
	margin: auto;
}
nav{
	height: .88rem;
	width: 100%;
	background-color: #fff;
	padding: 0 .24rem;
	text-align: justify;/* 文字两端对齐，仅限内容全是文字 */
	position: absolute;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: .88rem;
	z-index: 999;
}
	
nav:after{
	content: "";/* 内容 */
	display: inline-block;/* 元素对齐 */
	width: 100%;
	font-size: 0;
	line-height: 0;
}/* 解决text-align: justify;不起作用，伪元素是给页面加内容的，作为一个标签使用 */
nav a{
	font-size: 0.32rem;
	font-weight: bold;
	color: #000;
	line-height: .88rem;
	letter-spacing: .0001rem;/* 调整字间距 */
}
.nav_active{
	font-size: 0.36rem;
	color: #d43d3d;
}
.nav_more{
	padding: .2rem 0 .2rem .21rem;
	box-shadow: -.1rem 0 .08rem rgba(0, 0, 0, .6);
}
.box{
	width: 100%;
	position: relative;
}
.item{
	width: 100%;
	height: 1.64rem;
	padding: 0 .24rem;
	margin-top: 1.76rem;
}
.item-top{
	width: 100%;
	height: 1rem;
	margin-top: 1rem;
	font-size: 0.35rem;
}
.item-bottom{
	margin-top: 0.2rem;
	overflow: hidden;
}
.item-bottom span{
	font-size: 0.23rem;
	color: #a3a3a3;
	margin-right: 0.15rem;
	display:block;
	float: left;
}
.item-bottom-icon{
	color: #a3a3a3;
	margin-right: 0;
	width: .37rem;
	height: .26rem;
	float: right;
}
.items{
	width: 100%;
	border-top: 0.02rem solid #e5e5e5;
	padding: 0 .24rem;
	margin-top: 0.1rem;
}
.items-top{
	margin-top: .2rem;
	margin-right: .2rem;
	margin-bottom: .13rem;
	font-size: 0.35rem;
}
.items-zhong{
	width: 100%;
	height: 1.48rem;
}
.items-zhong img{
	width: 2.24rem;
	height: 1.47rem;
	margin-right: .15rem;
	float: left;
	margin-bottom:.21rem;
}
.items-zhong img:nth-child(3){
	margin-right: 0;	
}
.footer{
	width: 100%;
	height: 0.98rem;
	padding: 0 .24rem;
	background-color: #fff;

	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	position: fixed;
	
	display: flex;/* 设置弹性布局 */
	flex-wrap: wrap;/* 弹性布局换行 */
	justify-content: space-between;/* 水平两端对齐 */
	align-items: center;/* 单行垂直居中 */	
}
.footer li{
	width: .87rem;
	height: .80rem;
	display:  flex;
	flex-wrap: wrap; 
	justify-content: center;
	align-content: space-between;
}
.footer li img{
	width: .47rem;
	height: .40rem;
}
.footer li h1{
	font-size: .18rem;
}
.footer .footer-item1{
	width: .87rem;
	height: .87rem;
}
.footer .footer-item2{
	width: 1rem;
	height: .8rem;
}